.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1rem);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Merriweather", serif;
  color: black;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  font-family: "Merriweather", serif;
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

.active {
  color: #112240;
  text-decoration: underline;
}

.primary-navigation {
  --gap: 1.5rem;
  list-style: none;
}

.primary-navigation__header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1.5rem;
}

.primary-navigation__link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  position: relative;
  cursor: pointer;
}

.primary-navigation__link:hover {
  color: black;
}

.primary-navigation__link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.229);
  -webkit-transition: width 0.25s ease-out;
  transition: width 0.25s ease-out;
}

.primary-navigation__link:hover::before {
  width: 100%;
}

@media (max-width: 35em) {
  .primary-navigation {
    background-color: #ffc2cc;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;
    padding: 5rem 2rem;
    margin: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  }
  .primary-navigation__button {
    position: fixed;
    z-index: 2000;
    top: 2rem;
    right: 1rem;
  }
  .primary-navigation__button > span {
    cursor: pointer;
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
  }
}

@media (max-width: 35em) and (min-width: 576px) {
  .primary-navigation__button {
    display: none;
  }
}

@media (max-width: 35em) {
  .primary-navigation__button > span:not(:last-child) {
    margin-bottom: 7px;
  }
  .primary-navigation__button,
  .primary-navigation__button > span {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .primary-navigation__button[aria-expanded="true"] {
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .primary-navigation__button[aria-expanded="true"] > span:nth-child(2) {
    width: 0;
  }
  .primary-navigation__button[aria-expanded="true"] > span:nth-child(1),
  .primary-navigation__button[aria-expanded="true"] > span:nth-child(3) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .primary-navigation__button[aria-expanded="true"] > span:nth-child(1) {
    -webkit-transform: translateY(9px);
            transform: translateY(9px);
  }
  .primary-navigation__button[aria-expanded="true"] > span:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(90deg);
            transform: translateY(-9px) rotate(90deg);
  }
  .primary-navigation[data-visible="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* cards */
.card {
  padding: 0px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 3px 10px rgba(128, 128, 128, 0.612);
          box-shadow: 0 3px 10px rgba(128, 128, 128, 0.612);
  margin: 1rem;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card__body {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
}

.card__img-container {
  position: relative;
}

.card__img-container:hover .card__img {
  opacity: 0.4;
}

.card__img-container:hover .card__links {
  opacity: 1;
}

.card__img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card__type-container {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

.card__type {
  color: white;
  background-color: #cd5e77;
  text-align: center;
  border-radius: 8px;
  padding: 0.3rem 0.5rem;
  display: inline-block;
}

.card__title {
  margin-top: 1rem;
  font-weight: bold;
}

.card__text {
  margin-bottom: 3rem;
}

.card__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__tag {
  color: gray;
  margin: 0.5rem;
}

.card__links {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.card__icon {
  font-size: 30px;
  margin: 0px 0.3rem;
}

.card__link {
  color: black;
}

.carousel {
  margin: 0px auto;
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__container {
  max-width: 500px;
  margin: auto;
}

.carousel__title {
  margin-top: 50px;
  text-align: center;
}

.carousel__item-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__icon {
  max-width: 100%;
  height: 100px;
  width: 100px;
  margin: 0px 0.5rem;
}

.carousel__indicators {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.carousel__inner {
  margin-bottom: 120px;
}

@media (min-width: 415px) {
  .carousel__indicators {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .carousel__inner {
    margin-bottom: 50px;
  }
}

.carousel__indicator {
  text-indent: initial !important;
  -webkit-box-sizing: initial !important;
          box-sizing: initial !important;
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
  width: initial !important;
  height: initial !important;
  background-color: transparent !important;
  margin: 0px 1rem !important;
}

.contact {
  margin-bottom: 4rem;
}

.contact__title {
  text-align: center;
  margin: 4rem 0rem;
}

.contact__btn-container {
  text-align: center;
}

.contact__btn {
  margin: auto;
  background-color: #cd5e77;
  border-color: #cd5e77;
}

.contact__btn:hover {
  background-color: white;
  color: #cd5e77;
  border: 1px solid #cd5e77;
}

/* typer effect */
.typed__container {
  display: inline-block;
}

.typed__out {
  overflow: hidden;
  border-right: 0.15em solid #cd5e77;
  white-space: nowrap;
  -webkit-animation: typing 2s steps(20, end) forwards, blink 0.8s infinite;
          animation: typing 2s steps(20, end) forwards, blink 0.8s infinite;
  width: 0;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #cd5e77;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: #cd5e77;
  }
}

.jumbotron {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron__btn {
  background-color: #cd5e77;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.jumbotron__btn:hover {
  color: #cd5e77;
  background-color: white;
  border: 1px solid #cd5e77;
}

.jumbotron__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: moveup 1s linear 1;
          animation: moveup 1s linear 1;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveup {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

@keyframes moveup {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    visibility: visible;
  }
}

.jumbotron__icon {
  color: #112240;
  font-size: 30px;
  margin: 0px 0.2rem;
}

.jumbotron__icons {
  margin-top: 1rem;
}

.jumbotron__image {
  max-width: 100%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 576px) {
  .jumbotron__image {
    height: 250px;
    width: 250px;
  }
  .jumbotron__icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (min-width: 768px) {
  .jumbotron__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 992px) {
  .jumbotron__image {
    height: 350px;
    width: 350px;
  }
}

.jumbotron__text {
  text-align: center;
}

@media (min-width: 576px) {
  .jumbotron__text {
    text-align: left;
  }
}

.skills {
  margin-top: 2rem;
  margin-bottom: 4rem;
  visibility: hidden;
}

@-webkit-keyframes slideup {
  from {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideup {
  from {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .slide-animation {
    -webkit-animation: slideup 1s 1;
            animation: slideup 1s 1;
    visibility: visible !important;
  }
}

.projects {
  margin-bottom: 4rem;
  visibility: hidden;
}

.projects__title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.projects__index {
  margin-top: 4rem;
}

@media (min-width: 576px) {
  .projects__index {
    margin-top: 8rem;
  }
}
/*# sourceMappingURL=styles.css.map */