.carousel {
  margin: 0px auto;
  padding: 50px 0px;
  display: flex;
  align-items: center;

  &__container {
    max-width: 500px;
    margin: auto;
  }

  &__title {
    margin-top: 50px;
    text-align: center;
  }

  &__item-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__icon {
    max-width: 100%;
    height: 100px;
    width: 100px;
    margin: 0px 0.5rem;
  }

  &__indicators {
    flex-wrap: wrap;
  }

  &__indicators .active {
    color: #cd5e77;
    border-bottom-color: #cd5e77 !important;
  }

  &__indicator {
    text-indent: initial !important;
    box-sizing: initial !important;
    flex: none !important;
    width: initial !important;
    height: initial !important;
    background-color: transparent !important;
    margin: 0px 1rem !important;
    border-bottom: 2px solid transparent !important;
  }

  &__indicator:hover {
    color: #cd5e787e;
    border-bottom-color: #cd5e787e !important;
  }

  &__inner {
    margin-bottom: 120px;
  }

  @media (min-width: 415px) {
    &__indicators {
      flex-wrap: nowrap;
    }
    &__inner {
      margin-bottom: 50px;
    }
  }
}
