.contact {
  margin-bottom: 2rem;

  &__title {
    text-align: center;
    margin: 4rem 0rem;
  }

  &__btn-container {
    text-align: center;
  }

  &__btn {
    margin: auto;
    background-color: #cd5e77;
    border-color: #cd5e77;
  }

  &__btn:hover {
    background-color: white;
    color: #cd5e77;
    border: 1px solid #cd5e77;
  }

  &__icons {
    text-align: center;
    margin-bottom: 2rem;
  }
}
