.jumbotron {
  min-height: 80vh;
  display: flex;
  align-items: center;

  &__subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  &__text {
    text-align: center;
  }

  &__image {
    max-width: 100%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  &__p {
    margin-bottom: 1.5rem;
  }

  &__btn {
    background-color: #cd5e77;
    font-family: "Roboto", sans-serif;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
  }

  &__btn:hover {
    color: #cd5e77;
    background-color: white;
    border: 1px solid #cd5e77;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    animation: moveup 1s linear 1;
    animation-delay: 2.5s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }

  @keyframes moveup {
    from {
      transform: translateY(100px);
      visibility: visible;
    }
    to {
      transform: translateY(0);
      visibility: visible;
    }
  }

  &__icon {
    color: #112240;
    font-size: 30px;
    margin: 0px 0.2rem;
  }

  &__icon:hover {
    color: #cd5e77;
  }

  @media (min-width: 576px) {
    &__image {
      height: 250px;
      width: 250px;
    }

    &__icons {
      justify-content: start;
    }
  }

  @media (min-width: 768px) {
    &__icons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: start;
    }
  }

  @media (min-width: 992px) {
    &__image {
      height: 350px;
      width: 350px;
    }
  }

  @media (min-width: 576px) {
    &__text {
      text-align: left;
    }
  }
}
