.jumbotron {
  height: 90vh;
  display: flex;
  align-items: center;

  &__subtitle {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  &__p {
    margin-bottom: 1.5rem;
  }
}

.jumbotron__btn {
  background-color: #cd5e77;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
}

.jumbotron__btn:hover {
  color: #cd5e77;
  background-color: white;
  border: 1px solid #cd5e77;
}

.jumbotron__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  animation: moveup 1s linear 1;
  animation-delay: 2.5s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes moveup {
  from {
    transform: translateY(100px);
    visibility: visible;
  }
  to {
    transform: translateY(0);
    visibility: visible;
  }
}

.jumbotron__icon {
  color: #112240;
  font-size: 30px;
  margin: 0px 0.2rem;
}

.jumbotron__icons {
  margin-top: 1rem;
}

.jumbotron__image {
  max-width: 100%;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .jumbotron__image {
    height: 250px;
    width: 250px;
  }

  .jumbotron__icons {
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .jumbotron__icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
  }
}

@media (min-width: 992px) {
  .jumbotron__image {
    height: 350px;
    width: 350px;
  }
}

.jumbotron__text {
  text-align: center;
}

@media (min-width: 576px) {
  .jumbotron__text {
    text-align: left;
  }
}
