*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: $ff-sans-normal;
  font-size: $fs-600;
  line-height: 1.5;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  font-weight: 400;
}

h1,
h2,
a {
  font-family: $ff-serif-heading;
}

h3,
h4 {
  font-family: $ff-sans-sub-heading;
}

input,
label,
button,
textarea {
  font: inherit;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

@media (max-width: 35em) {
  .blur {
    background-color: white;
    filter: blur(3px);
  }
}

.loading-logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
