.projects {
  margin-bottom: 4rem;
  visibility: hidden;

  &__title {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  &__index {
    margin-top: 4rem;
  }

  @media (min-width: 576px) {
    &__index {
      margin-top: 8rem;
    }
  }
}
