.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.uppercase {
  text-transform: uppercase;
}

.fs-700 {
  font-size: $fs-700;
}

.fs-600 {
  font-size: $fs-600;
}

.fs-400 {
  font-size: $fs-400;
}

.fs-300 {
  font-size: $fs-300;
}

.hideElement {
  display: none !important;
}

.showElement {
  display: initial;
}
